@import '/src/styles/variables';

.playlists {
	position: absolute;
	top: 0;
	left: -40%;
	width: 35%;
	max-height: 94%;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	padding: 10px 0px;
	background: lighten($bg, 5%);

	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.playlist {
		box-sizing: border-box;
		width: 60px;
		height: 60px;
		display: flex;
		padding: 10px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 4px;
		border-radius: 4px;
		cursor: pointer;
		font-size: 12px;

		> img {
			width: 30px;
			height: 30px;
		}

		&:hover {
			background-color: $bg-buttons;
		}

		&.active {
			border: 1px solid $main-color;
			box-shadow: 0 0 2px $main-color;
		}
	}
}

// .playlist:hover {
//   background-color: rgb(0, 0, 0, 0.2);
// }

// .playlist > img {
//   width: 70px;
//   aspect-ratio: 1;
// }

// .playlist.active {
//   border: 1px solid orangered;

//   box-shadow: 0 0 10px orangered;
// }
