@import '/src/styles/variables';

.intro {
	margin-top: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 100px;

	.avatar {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;

		> img {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			box-shadow: 0 0 5px 2px $main-color;
			animation: photo-hover 4s linear infinite;

			@media (min-width: 2000px) {
				width: 400px;
				height: 400px;
			}
		}

		@media (min-width: 2000px) {
			row-gap: 20px;
		}
	}
	.way_in_frontend {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;

		> p {
			text-align: center;

			@media (max-width: 1390px) {
				text-align: start;
			}
		}

		> a {
			position: relative;
			display: inline-flex;
			column-gap: 10px;
			text-decoration: none;
			justify-content: center;
			color: $main-color;
			background-color: $bg-dark;
			padding: 15px 20px;
			border-radius: 10px;
			box-shadow: -3px -3px 0px 1px black;

			> svg {
				width: 20px;
				height: 20px;

				@media (min-width: 2000px) {
					width: 25px;
					height: 25px;
				}
			}

			&:hover {
				background-color: $hover-bg;

				> span {
					color: $hover-text-color;
				}

				> svg > path {
					stroke: $hover-text-color;
				}
			}

			&:active {
				top: -3px;
				left: -3px;
				box-shadow: unset;
			}

			@media (max-width: 760px) {
				padding: 10px 15px;

				> span {
					margin-top: 2px;
				}
			}
		}
	}

	@media (max-width: 1390px) {
		row-gap: 40px;
		flex-direction: column;
	}
}

@keyframes photo-hover {
	0% {
		box-shadow: 0 0 5px 2px $main-color;
	}
	50% {
		box-shadow: 0 0 10px 4px $main-color;
	}
	100% {
		box-shadow: 0 0 5px 2px $main-color;
	}
}
