.home {
	position: relative;
	margin-top: 80px;
	display: flex;
	column-gap: 300px;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex: 1;
	overflow: hidden;

	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@media (max-width: 479px) {
			row-gap: 10px;
		}
	}

	@media (min-width: 2000px) {
		margin-top: 100px;
		column-gap: 500px;
	}

	@media (max-width: 1439px) {
		column-gap: 150px;
	}

	@media (max-width: 1000px) {
		padding-top: 200px;
		margin-top: 50px;
		flex-direction: column;
		row-gap: 150px;
	}

	@media (max-width: 479px) {
		padding-top: 60px;
		row-gap: 80px;
	}
}
