@import '/src/styles/variables';
@import '/src/styles/mixins';

.home {
	margin-top: 80px;
	position: relative;
	display: flex;
	column-gap: 300px;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;

	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
	}

	.bgBottomElement1 {
		@include bg-element(400px, 50px);
		bottom: 100px;
		left: -80px;
	}

	.bgBottomElement2 {
		@include bg-element(300px, 50px, 'reverse');
		bottom: 10px;
		left: -80px;
	}

	.bgTopElement1 {
		@include bg-element(300px, 30px);
		top: 40px;
		right: -80px;
	}

	.bgTopElement2 {
		@include bg-element(200px, 30px, 'reverse');
		top: 10px;
		right: -80px;
	}
}
