@import '/src/styles/variables';
@import '/src/styles/mixins';

.projectInfo {
	@include border-animation(2500px);
	width: 100%;
	min-height: 36vh;
	position: relative;
	display: flex;
	column-gap: 40px;
	padding: 20px 10px;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px black;
	transition: scale 0.4s ease-in-out;

	&:hover {
		scale: 1.1;
	}

	@media (max-width: 1180px) {
		width: 80%;
		flex-direction: column;
		row-gap: 20px;

		&:hover {
			scale: 1.05;
		}
	}
}
