@import '/src/styles/variables';
@import '/src/styles/mixins';

.notification_success {
	@include notification('success');
}

.notification_error {
	@include notification('error');
}

.contacts_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	> label {
		display: flex;
		flex-direction: column;
		row-gap: 2px;

		> input,
		> textarea {
			letter-spacing: $l-spacing;
			font-size: $fs13;
			padding: 12px;
			background: $bg-dark;
			border: 1px solid $main-color;
			border-radius: 10px;
			color: $text-color;
			cursor: text;

			&::placeholder {
				color: $text-color;
			}

			@media (min-width: 2000px) {
				font-size: $fs16;
				padding: 15px;
			}
		}

		> textarea {
			letter-spacing: $l-spacing;
			resize: none;
			height: 150px;

			&::-webkit-scrollbar {
				width: 6px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $main-color;
				border-radius: 3px;
			}

			&::-webkit-scrollbar-track-piece:end {
				margin-bottom: 10px;
			}

			&::-webkit-scrollbar-track-piece:start {
				margin-top: 10px;
			}
		}

		.error {
			font-size: $fs13;
			color: $main-color;
			opacity: 0;

			&_show {
				opacity: 1;
			}

			@media (min-width: 2000px) {
				font-size: $fs16;
			}
		}
	}
	> button {
		position: relative;
		width: 50%;
		margin-inline: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;
		border: none;
		border-radius: 10px;
		background-color: $bg-dark;
		padding-block: 10px;
		color: $main-color;
		box-shadow: -5px -5px black;
		font-size: 20px;
		letter-spacing: $l-spacing;

		> svg {
			width: 40px;
			height: 40px;

			@media (max-width: 800px) {
				width: 30px;
				height: 30px;
			}
		}

		&:hover {
			background-color: $hover-bg;
			color: $hover-text-color;

			> svg path[fill] {
				fill: $hover-text-color;
			}
		}

		&:active {
			top: -5px;
			left: -5px;
			box-shadow: unset;
		}

		@media (max-width: 800px) {
			width: 60%;
			font-size: $fs16;
		}
	}
}
