@import '/src/styles/variables';

.not_found {
	position: relative;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex: 1;
	overflow: hidden;

	> img {
		width: 300px;
		height: 300px;

		@media (max-width: 479px) {
			width: 200px;
			height: 200px;
		}
	}

	@media (max-width: 479px) {
		> h2 {
			font-size: $fs16;
		}
	}
}
