@font-face {
	font-family: 'Neon';
	src: url('/src/assets/fonts/Neon.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Actay Wide';
	src: url('/src/assets/fonts/ActayWide-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
