@import '/src/styles/variables';

@mixin notification($type) {
	z-index: 5;
	position: absolute;
	top: 20px;
	right: 0;
	padding: 20px 10px;
	background: $bg-buttons;
	font-size: 13px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	animation: show-notification 1s ease-in;

	&::before {
		content: '';
		display: inline-block;
		width: 30px;
		height: 30px;
		@if ($type == 'success') {
			background: url('/icons/success.svg');
		} @else {
			background: url('/icons/error-sending.svg');
		}
		animation: icon 0.5s ease-in;
		animation-delay: 1s;
	}

	@keyframes show-notification {
		from {
			opacity: 0;
			transform: translateX(100%);
		}
		to {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	@keyframes icon {
		0% {
			opacity: 0;
			scale: 0.8;
		}
		80% {
			opacity: 0.8;
			scale: 1.2;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
}

@mixin copyright($type) {
	@if ($type == 'absolute') {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		margin-inline: auto;
	}

	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 11px;
	letter-spacing: 1px;

	> p {
		margin-block: 3px 0px;
	}

	> img {
		width: 15px;
		height: 15px;
	}
}

@mixin github-link($width, $height, $size) {
	@if ($size == 'big') {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	width: $width;
	height: $height;
	> svg {
		width: $width;
		height: $height;
	}

	&:hover {
		> svg rect {
			stroke: $hover-bg;
			fill: $hover-bg;
		}

		> svg path {
			fill: black;
		}
	}
}

@mixin bg-element($width, $height, $type: 'default') {
	position: absolute;
	width: $width;
	height: $height;
	rotate: 45deg;
	z-index: -1;

	background: linear-gradient(
		-45deg,
		$main-color 46%,
		$text-color 49%,
		$text-color 50%,
		$main-color 53%
	);

	background-size: 500% 500%;

	@if ($type == 'default') {
		animation: gradient 15s ease infinite;
	} @else {
		animation: gradient-reverse 15s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	@keyframes gradient-reverse {
		0% {
			background-position: 100% 50%;
		}
		50% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
}

@mixin blink-animation($type: 'default') {
	@keyframes blink-#{$type} {
		0% {
			@include blink-animation-type($type);
			opacity: 1;
		}
		50% {
			opacity: 0.2;
		}
		100% {
			@include blink-animation-type($type, 360deg);
			opacity: 1;
		}
	}

	animation: blink-#{$type} 16s linear infinite;
}

@mixin blink-animation-type($type: 'default', $deg: 0deg) {
	@if $type == 'x' {
		transform: translateX(-50%) rotateY($deg);
	} @else if $type == 'y' {
		transform: translateY(-50%) rotateY($deg);
	} @else {
		transform: rotateY($deg);
	}
}
