$bg: #262626;
$bg-dark: darken(#262626, 5%);
$main-color: #ff8800;
$text-color: #fff;
$hover-text-color: #000;
$hover-bg: #fff;
$fs36: 36px;
$fs30: 30px;
$fs24: 24px;
$fs20: 22px;
$fs20: 20px;
$fs16: 16px;
$fs14: 14px;
$fs13: 13px;
$fs11: 11px;
$l-spacing: 1.2px;
