@import './normalize';
@import './fonts';
@import './variables';

body {
	height: 100vh;
	font-family: 'Actay Wide';
	font-size: $text-size;
	font-weight: 500;
	background-color: $bg;
	color: $text-color;
	cursor: url('/icons/cursor.svg'), default;
	overflow-x: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $main-color;
		border-radius: 3px;
	}
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

pre {
	font-family: inherit;
}

button,
a,
input {
	cursor:
		url('/icons/pointer.svg') 8 0,
		pointer;
}

.hide {
	animation: hide 2s linear;
}

.show {
	animation: show 2s linear;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
