@import './normalize';
@import './fonts';
@import './variables';

body {
	min-height: 100vh;
	font-family: 'Actay Wide';
	font-size: $fs16;
	font-weight: 500;
	background-color: $bg;
	color: $text-color;
	cursor: url('/abra-cv/icons/cursor.svg'), default;
	overflow-x: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.none {
	display: none !important;
}

pre {
	font-family: inherit;
}

button,
a,
input {
	cursor:
		url('/abra-cv/icons/pointer.svg') 8 0,
		pointer;
}

label {
	cursor: inherit;
}

// remove input autofill bg-color
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 0s 600000s,
		color 0s 600000s !important;
}

.hide {
	animation: hide 2s linear;
}

.show {
	animation: show 2s linear;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
