@import '/src/styles/variables';

.carousel {
	position: relative;
	width: 40%;
	height: fit-content;
	overflow: hidden;

	.slides {
		display: flex;
		transition: transform 500ms ease-out;

		> img {
			width: 100%;
			aspect-ratio: 16/9;
		}
	}

	.buttons {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px;

		> button {
			display: flex;
			border: none;
			background: $bg-buttons;
			padding: 0;
			width: 25px;
			height: 25px;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			box-shadow: 0 0 5px 2px black;

			&:hover {
				background-color: $hover-bg;

				> svg > g > g {
					fill: $hover-text-color;
				}
			}
		}
	}

	.dotsWrapper {
		position: absolute;
		bottom: 1rem;
		left: 0;
		width: 100%;

		.dots {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			.dot {
				width: 5px;
				height: 5px;
				transition: all;
				background-color: #ffffff;
				border-radius: 50%;

				&.current {
					padding: 1px;
				}

				&.rest {
					opacity: 0.5;
				}
			}
		}
	}
}
