@import '/src/styles/_variables';

.about_me {
	margin-top: 80px;
	width: 80%;
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	letter-spacing: $l-spacing;
	margin-inline: auto;

	h2,
	p {
		margin: 0;
		padding: 0;
	}

	h2,
	span {
		color: $main-color;
	}
}
