@import '/src/styles/variables';
@import '/src/styles/fonts';

.header {
	z-index: 100;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 5px $main-color;
	backdrop-filter: blur(5px);

	@media (min-width: 2000px) {
		height: 100px;
		box-shadow: 0 0 5px $main-color;
		backdrop-filter: blur(5px);
		background: unset;
	}

	@media (max-width: 1000px) {
		height: 60px;
		backdrop-filter: unset;
		background-color: $bg;
	}
}

.slide_in {
	animation: slide-in 1s ease-in-out;
}

.slide_out {
	animation: slide-out 1s ease-in-out;
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(-0%);
	}
}

@keyframes slide-out {
	20% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(100%);
	}
}
