@import '/src/styles/variables';

.musicPlayer {
	position: fixed;
	padding: 10px;
	right: 10px;
	bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	background-color: lighten($bg, 5%);
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
	opacity: 0;
	letter-spacing: 1.2px;

	.playlistVolumeWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: -20px;

		> button {
			padding: 0;
			background-color: transparent;
			border: none;

			> svg {
				width: 20px;
				height: 20px;

				&:hover {
					> path {
						fill: $hover-bg;
					}
				}

				&:active {
					> path {
						fill: $bg-buttons;
					}
				}
			}
		}
	}

	.controlsWrapper {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		align-items: center;
		justify-content: center;
	}
}
