@import '/src/styles/variables';
@import '/src/styles/mixins';

.header_navigation {
	@include navigation('horizontal');

	@media (max-width: 1200px) {
		column-gap: 60px;
		margin-right: 40px;
	}
	@media (max-width: 1000px) {
		display: none;
	}
}

.navigation {
	@include navigation('vertical');
	height: 100%;
	margin-left: 40px;

	> a {
		width: fit-content;
	}
}
