@import '/src/styles/variables';

.buttonsWrapper {
	display: flex;
	column-gap: 40px;
	margin-left: 20px;

	> a {
		position: relative;
		display: inline-flex;
		column-gap: 10px;
		text-decoration: none;
		justify-content: center;
		color: $main-color;
		font-size: 20px;
		background-color: $bg-dark;
		padding: 15px 20px;
		border-radius: 10px;
		box-shadow: -3px -3px 0px 1px black;

		> svg {
			width: 20px;
			height: 20px;

			@media (min-width: 2000px) {
				width: 25px;
				height: 25px;
			}

			@media (max-width: 1439px) {
				width: 15px;
				height: 15px;
			}
		}

		&:hover {
			background-color: $hover-bg;
			color: $hover-text-color;

			> svg > path {
				stroke: $hover-text-color;
			}
		}

		&:active {
			top: -3px;
			left: -3px;
			box-shadow: unset;
		}

		@media (min-width: 2000px) {
			font-size: $fs24;
			padding: 20px 25px;
		}

		@media (max-width: 1439px) {
			font-size: $fs16;
			padding: 15px 20px;
			border-radius: 10px;
			column-gap: 5px;
		}

		@media (max-width: 479px) {
			font-size: $fs13;
			padding: 10px 15px;
			border-radius: 5px;
			box-shadow: -2px -2px 0px 1px black;
		}
	}

	@media (max-width: 1439px) {
		column-gap: 20px;
		margin-left: 10px;
	}

	@media (max-width: 1000px) {
		margin-left: unset;
		justify-content: center;
	}
}
