@import '/src/styles/mixins';

.copyright_absolute {
	@include copyright('absolute');
}

.copyright_absolute_home {
	@media (max-width: 1000px) {
		position: static;
		transform: unset;
		padding-bottom: 10px;
	}
}

.copyright_footer {
	@include copyright('footer');
}
