@import '/src/styles/variables';

.sidebar {
	display: none;
	position: absolute;
	top: 0;
	right: -50px;
	width: 250px;
	height: 400px;
	background: rgba($bg-dark, 0.8);
	border-bottom-left-radius: 10px;

	@media (min-width: 1001px) {
		display: none !important;
	}

	@media (max-width: 479px) {
		font-size: $fs11;
		width: 200px;
		height: 220px;
	}
}
