@import 'src/styles/variables';

.feedback {
	padding: 10px;
	letter-spacing: $l-spacing;
	background-color: $bg-dark;
	border-radius: 10px;
	font-size: $fs13;

	&_desktop {
		width: 96%;
		display: flex;

		@media (min-width: 2000px) {
			font-size: $fs16;
		}

		@media (max-width: 1180px) {
			display: none;
		}
	}

	&_mobile {
		display: none;
		width: 60%;

		@media (max-width: 1180px) {
			display: flex;
			margin-bottom: 100px;
		}

		@media (max-width: 600px) {
			width: 80%;
		}

		@media (max-width: 479px) {
			font-size: $fs11;
		}
	}
}
