@import '/src/styles/variables';
@import '/src/styles/mixins';

.avatarWrapper {
	.avatar {
		position: relative;
		.photo {
			width: 400px;
			height: 400px;
			border-radius: 50%;
			animation: photo-hover 4s linear infinite;

			@media (min-width: 2000px) {
				width: 500px;
				height: 500px;
			}

			@media (max-width: 1439px) {
				width: 300px;
				height: 300px;
			}

			@media (max-width: 479px) {
				width: 240px;
				height: 240px;
				animation: photo-hover-mobile 4s linear infinite;
			}
		}

		> img:not(:first-child) {
			position: absolute;
			width: 50px;
			height: 50px;

			@media (min-width: 2000px) {
				width: 60px;
				height: 60px;
			}

			@media (max-width: 1439px) {
				width: 40px;
				height: 40px;
			}

			@media (max-width: 479px) {
				width: 30px;
				height: 30px;
			}
		}

		.js {
			@include blink-animation('x');
			top: -70px;
			left: 50%;

			@media (min-width: 2000px) {
				top: -90px;
			}

			@media (max-width: 479px) {
				top: -45px;
			}
		}
		.ts {
			@include blink-animation('x');
			bottom: -70px;
			left: 50%;

			@media (min-width: 2000px) {
				bottom: -90px;
			}

			@media (max-width: 479px) {
				bottom: -45px;
			}
		}
		.react {
			@include blink-animation('y');
			top: 50%;
			left: -70px;

			@media (min-width: 2000px) {
				left: -90px;
			}

			@media (max-width: 479px) {
				left: -45px;
			}
		}
		.vite {
			@include blink-animation('y');
			top: 50%;
			right: -70px;

			@media (min-width: 2000px) {
				right: -90px;
			}

			@media (max-width: 479px) {
				right: -45px;
			}
		}
		.html {
			@include blink-animation();
			top: -5px;
			left: -5px;

			@media (min-width: 2000px) {
				top: -10px;
				left: -10px;
			}
		}
		.css {
			@include blink-animation();
			top: -5px;
			right: -5px;

			@media (min-width: 2000px) {
				top: -10px;
				right: -10px;
			}
		}
		.scss {
			@include blink-animation();
			bottom: -5px;
			right: -5px;

			@media (min-width: 2000px) {
				bottom: -10px;
				right: -10px;
			}
		}
		.redux {
			@include blink-animation();
			bottom: -5px;
			left: -5px;

			@media (min-width: 2000px) {
				bottom: -10px;
				left: -10px;
			}
		}
	}
}

@keyframes photo-hover {
	0% {
		box-shadow: 0 0 5px 3px $main-color;
	}
	50% {
		box-shadow: 0 0 10px 5px $main-color;
	}
	100% {
		box-shadow: 0 0 5px 3px $main-color;
	}
}

@keyframes photo-hover-mobile {
	0% {
		box-shadow: 0 0 2px 1px $main-color;
	}
	50% {
		box-shadow: 0 0 6px 2px $main-color;
	}
	100% {
		box-shadow: 0 0 2px 1px $main-color;
	}
}
