@import '/src/styles/variables';

.stack {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 100px);
	gap: 10px;

	> div {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		justify-content: start;
		align-items: center;

		> img {
			width: 40px;
			height: 40px;

			@media (min-width: 2000px) {
				width: 50px;
				height: 50px;
			}

			@media (max-width: 479px) {
				width: 30px;
				height: 30px;
			}
		}

		> span {
			font-size: $fs11;
			letter-spacing: unset;
			margin: 0;
			text-align: center;
			letter-spacing: $l-spacing;

			@media (min-width: 2000px) {
				font-size: $fs14;
			}

			@media (max-width: 479px) {
				font-size: $fs9;
			}
		}
	}

	@media (min-width: 2000px) {
		grid-template-columns: repeat(auto-fit, 130px);
		gap: 20px;
	}

	@media (max-width: 479px) {
		grid-template-columns: repeat(auto-fit, 80px);
		gap: 10px;
	}
}
