@import '/src/styles/variables';

.stack {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	gap: 10px;

	> div {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		justify-content: start;
		align-items: center;

		> img {
			width: 40px;
			height: 40px;
		}

		> p {
			font-size: 11px;
			letter-spacing: unset;
			margin: 0;
			text-align: center;
			letter-spacing: $l-spacing;
		}
	}
}
